<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.minggao.cms.dao.ContentMapper">
  <resultMap id="BaseResultMap" type="net.minggao.cms.model.Content">
    <id column="CONTENT_ID" jdbcType="BIGINT" property="contentId" />
    <result column="ARTICLE_ID" jdbcType="BIGINT" property="articleId" />
    <result column="SITE_ID" jdbcType="BIGINT" property="siteId" />
    <result column="CREATE_USER" jdbcType="BIGINT" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="net.minggao.cms.model.Content">
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    CONTENT_ID, ARTICLE_ID, SITE_ID, CREATE_USER, CREATE_TIME
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_CMS_CONTENT
    where CONTENT_ID = #{contentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_CMS_CONTENT
    where CONTENT_ID = #{contentId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="net.minggao.cms.model.Content">
    insert into T_CMS_CONTENT (CONTENT_ID, ARTICLE_ID, SITE_ID, 
      CREATE_USER, CREATE_TIME, CONTENT
      )
    values (#{contentId,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, 
      #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.minggao.cms.model.Content">
    insert into T_CMS_CONTENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contentId != null">
        CONTENT_ID,
      </if>
      <if test="articleId != null">
        ARTICLE_ID,
      </if>
      <if test="siteId != null">
        SITE_ID,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contentId != null">
        #{contentId,jdbcType=BIGINT},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="siteId != null">
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.minggao.cms.model.Content">
    update T_CMS_CONTENT
    <set>
      <if test="articleId != null">
        ARTICLE_ID = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="siteId != null">
        SITE_ID = #{siteId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where CONTENT_ID = #{contentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="net.minggao.cms.model.Content">
    update T_CMS_CONTENT
    set ARTICLE_ID = #{articleId,jdbcType=BIGINT},
      SITE_ID = #{siteId,jdbcType=BIGINT},
      CREATE_USER = #{createUser,jdbcType=BIGINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where CONTENT_ID = #{contentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.minggao.cms.model.Content">
    update T_CMS_CONTENT
    set ARTICLE_ID = #{articleId,jdbcType=BIGINT},
      SITE_ID = #{siteId,jdbcType=BIGINT},
      CREATE_USER = #{createUser,jdbcType=BIGINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where CONTENT_ID = #{contentId,jdbcType=BIGINT}
  </update>
</mapper>